/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url("assets/background.jpg");
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating of the image */
}

header, footer {
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: black;
}

.btn {
  background-color: #03a9f4; /* Light blue to complement the color scheme */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adding a box-shadow for a 3D effect */
  transition: box-shadow 0.3s ease;
}

.btn:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase box-shadow on hover for depth effect */
}

.btn a {
    text-decoration: none;
    color: white;
}

.self-img {
    height: 35%;
    width: 35%;
    border-radius: 20px;
    margin-left: 20px;
}

.MCAP {
    height: 10%;
    width: 10%;
    border-radius: 20px;
}

.about-container {
    display: flex; 
    align-items: center;
}

.work-experience-container {
    display: flex;
}

.experiences {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 30px;
}

.experiences img {
    margin-right: 20px; /* Add space between the image and the text */
}

.about {
    padding: 0px 10px 10px 10px;
    background: white;
    border-radius: 20px;
}

.work-experience, .projects, .extracurriculars {
    padding: 10px 10px 10px 10px;
    background: white;
    border-radius: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    color: black;
    margin-bottom: 15px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 1rem;
}

.links {
    text-decoration: none;
    color: #00bcd4;
}

.links:hover {
    text-decoration: underline;
}

.club-photos {
    display: flex; /* Use flexbox for layout */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 0px 30px; /* Add some padding for spacing */
}

.club-img {
    height: 300px;
    margin-right: 10px; /* Add some spacing between images */
    flex-shrink: 0; /* Prevent images from shrinking */
}

.company-logo {
    height: 175px;
    width: 175px;
}